@{
    ViewData["Title"] = "About";
}
<h1>@ViewData["Title"]</h1>
<h3 style="font-family: Lulro;text-decoration:underline;">@ViewData["Message"]</h3>

<div style="font-family: Lulro; font-size:24px;">

    <p style="font-family:Lulro;">We are writing the code for you!</p>
    <p style="font-family:Lulro;">All you need to do is just upload a text file/Excel or enter free input that contains inputs and outputs and we will generate the function.</p>
</div>