@{
    ViewData["Title"] = "About";
}
<h1>@ViewData["Title"]</h1>
<h3 style="font-family: Lulro;text-decoration:underline;">@ViewData["Message"]</h3>

<div style="font-family: Lulro; font-size:24px;" class="mainContent">

    <p style="font-family:Lulro;">We are writing the code for you!</p>
    <p style="font-family:Lulro;">All you need to do is just upload a text file or enter free input that contains inputs and outputs and we will generate the function.</p>
    <p>The input format is:</p>
    <pre>(X0,X1,X2...)(Y0,Y1...)</pre>
    <p style="font-family:Lulro;">X0,X1.. - are the inputs</p>
    <p style="font-family:Lulro;">Y0,Y1.. - are the outputs</p>
</div>