@{
    ViewData["Title"] = "Contact";
}
<h1>@ViewData["Title"]</h1>
<h3 style="font-family: Lulro;">@ViewData["Message"]</h3>

<div style="font-family: Lulro; font-size:24px;">

    <address>

        Eli Visel 2, RL , Israel<br />
        <abbr title="Phone"></abbr>

    </address>

    <address>
        <strong>Support:</strong> <a href="functastic@gmail.com">functastic@gmail.com</a><br />
        <strong>Developers:</strong> Alex Vig, Noam Yitzhak, Ofir Zamir<br />
        <strong>Supervisor:</strong> Dr. Igor Rochlin

    </address>
</div>