@{
    ViewData["Title"] = "Functastic";
}
<head>
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
</head>
<body>
    <script type="text/javascript" src="~/js/jquery-functastic.js"></script>
</body>
<div class="content">
    <div>
        <h1>Functastic</h1>
    </div>

    <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>

        </ol>
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <img src="~/images/ChooseFile44.svg" alt="ASP.NET" class="img-responsive" />
                <div class="carousel-caption" role="option">
                    <p>
                        <input class="form-control" type="file" accept=".txt, .json" style="margin-bottom: 20px;">

                        <a class="btn btn-default" asp-area="" asp-controller="Home" asp-action="Result">Run</a>
                    </p>
                </div>
            </div>
            <div class="item">
                <img src="~/images/EnterData.svg" alt="Visual Studio" class="img-responsive" />
                <div class="carousel-caption" role="option">
                    <p>
                        <textarea class="form-control" style="resize: none;margin: 0px; width: 564px; height: 80px;">Here.</textarea>
                        <a class="btn btn-default" href="Result.cshtml" style="margin-top: 3px;">
                            Run
                        </a>
                    </p>
                </div>
            </div>

        </div>
        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>

    <!--<div style="
        font-size: 25px;
        font-family: Lulro;
        margin: auto;
        padding-top: 30px;
        width: 290px;">


            Enter Data<input type="radio" name="action" value="enterData" style="
        padding-left: 20px;
        margin-left: 5px;
        margin-right: 10px;
    " />
            Upload File<input type="radio" name="action" value="uploadFile" style="
        margin-left: 5px;
    " />

            <div id="enterData" class="show-hide">
                <textarea class="form-control">Here.</textarea>
            </div>
            <div id="uploadFile" class="show-hide">
                <input type="file" accept=".txt, .json">
            </div>

            <a id="run" class="btn btn-default" href="Result.cshtml">
                Run
            </a>

        </div>

        </div>-->
