@{
    ViewData["Title"] = "Functastic";
}

<script>
    var selectedFile;
    var variableCount = 0;

    var getVariableNames = function () {
        var variables = '';

        variables += $('#X0').val();

        for (var i = 1; i < variableCount; i++)
            variables += ',' + $('#X' + i).val();

        return variables;
    }

    function handleFileSelect(evt) {
        var file = evt.target.files[0]; // FileList object
        var fileReader = new FileReader();

        fileReader.readAsText(file);
        fileReader.onload = function () {
            selectedFile = fileReader;
        }
    }

    $(document).ready(function () {
        $('.progress').hide();

        //get button by ID
        $('#submitTextButton').on('click', function (event) {
            startLoader();
            $.ajax({
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                },
                url: 'Home/StartMutatingFreeText',
                type: 'POST',
                datatype: 'json',
                data: JSON.stringify({
                    'FunctionName': $('#funcNameText').val(),
                    'VariableNames': getVariableNames(),
                    'Points': $('#freeText').val()
                }),
                success: function (data, textStatus, jqXHR) {
                    redirect(data);
                }
            });
        });

        $('#submitFileButton').on('click', function (event) {
            startLoader();
            $.ajax({
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                },
                url: 'Home/StartMutating',
                type: 'POST',
                datatype: 'json',
                data: JSON.stringify({
                    'FunctionName': $('#funcNameFile').val(),
                    'VariableNames': getVariableNames(),
                    'Points': selectedFile.result
                }),
                success: function(data, textStatus, jqXHR) {
                    redirect(data);
                }
            });
        });

        $('#freeText').keyup(function() {
            var text = $('#freeText').val();
            var line = text.split('\n')[0];
            var openingBracket = false;
            var data = line.split(/[()]/).filter(i => i);

            $('#textVariables').empty(); // Clear previous items.

            if (data.length !== 2) {
                // fail
            } else {
                var inputs = data[0].split(/[ ,]/).filter(i => i);
                var outputs = data[1].split(/[ ,]/).filter(i => i);

                variableCount = 0;

                for (var i = 0; i < inputs.length; i++) {
                    var currentVar = 'X' + i;

                    $('#textVariables').append('<label>Variable Name: </label><input id="' + currentVar + '" type="text" class="form-control" style="width: 175px;" />');
                    variableCount++;
                }
            }
        });

        function redirect(result) {
            $('#inset_form').html('<form action="Home/Result" name="send" method="post" style="display:none;"><textarea name="result">' + result +'</textarea></form>');
            document.forms['send'].submit();
        }

        function startLoader() {
            $('#myCarousel').fadeOut("fast");
            $('.progress').fadeIn();
            var i = 0;
            setInterval(function () {
                i++;
                var width = i / (60 * 10) * 100;
                $('.progress-bar').css("width", width + "%");
            }, 100);
        }

        document.getElementById('fileInput').addEventListener('change', handleFileSelect, false);
    });
</script>
<div margin: auto;>
    <h1>Functastic</h1>
</div>
<div class="progress">
    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%"></div>
</div>
<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval=false>
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
    </ol>
    <div class="carousel-inner" role="listbox" style="">
        <div class="item active">
            <img src="~/images/ChooseFile44.svg" alt="ASP.NET" class="img-responsive" style="height: 500px;" />
            <div class="carousel-caption" role="option">
                <input id="fileInput" class="form-control" type="file" accept=".txt, .json">
                <div>
                    <label>Function Name: </label>
                    <input id="funcNameFile" type="text" class="form-control" style="width: 175px;"/>
                </div>
                <div id="fileVariables" style="display: inline; float: left;"></div>
                <button id="submitFileButton" type="button" class="btn btn-primary ">
                    Run
                </button>
            </div>
        </div>
        <div class="item">
            <img src="~/images/EnterData.svg" alt="Visual Studio" class="img-responsive"  style="height: 500px;" />
            <div class="carousel-caption" role="option">
                <textarea id="freeText" cols="5" class="form-control"></textarea>
                <div>
                    <label>Function Name: </label>
                    <input id="funcNameText" type="text" class="form-control" style="width: 175px;" />
                </div>
                <div id="textVariables" style="display: inline; float: left;"></div>
                <button type="button" class="btn btn-default btn-sm" id="submitTextButton">
                    Run
                </button>
            </div>
        </div>
    </div>
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
<div id="inset_form"></div>
