@{
    ViewData["Title"] = "Result";
}
<head>
    <link rel="stylesheet" href="~/css/colorfullFont.scss">
    <script>
        $(document).ready(function() {
            var pageUrl = window.location.search.split('=');

            console.log(pageUrl[1]);
            $('#resultSection').text(decodeURIComponent(pageUrl[1]));
        });
    </script>
</head>
<div>
    <h1>Thank You!</h1>
    <h2>Here's the result:</h2>
</div>

<div class="box">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <div class="content">

        <p id="resultSection"></p>
    </div>

</div>