@{
    ViewData["Title"] = "Result";
}
<head>
    <link rel="stylesheet" href="~/css/tomorrow-night.css">

    <script>
        $(document).ready(function () {
             hljs.initHighlighting();
        });
    </script>
    <style>
        code {

        }
    </style>
</head>
<body>
    <script src="~/js/highlight.pack.js"></script>
</body>
<div>
    <h1>Thank You!</h1>
    <h2>Here's the result:</h2>
</div>

<div>
    <pre style="background-color: #1d1f21 !important">
        <code id="resultSection" class="C#">@ViewData["result"]</code>
    </pre>
</div>