@{
    ViewData["Title"] = "Result";
}
<head>
  <link rel="stylesheet" href="~/css/colorfullFont.scss">
</head>

<div>
    <h1>Thank You!</h1>
    <h2>Here's the result:</h2>
</div>


<div class="box">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <div class="content">
          
          <p>function(x,y){ return x+y;   }</p>
        </div>
        
</div>
    